/* ==========================================================================
   1. Imports & Root Settings
   ========================================================================== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
  font-size: 62.5%;
}

:root {
  --mt-20: 2rem;
  --mb-20: 2rem;
  --pt-20: 2rem;
  --pb-20: 2rem;
  --text-center: center;
  --Blue-color: #2a4dd0;
  --Green-color: #4ca154;
  --dark-gray-color: #111729;
  --darker-gray-color: #223344;
  --light-gray-color: #909193;
  --lighter-gray-color: #f2f9fe;
  --white-color: #ffffff;
}

/* ==========================================================================
      2. Reset & Base Styles
      ========================================================================== */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 2px solid lime; */
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  padding: 1.5rem 2rem;
  background-color: var(--lighter-gray-color);
  color: var(--dark-gray-color);
}

.container {
  width: 100%;
  max-width: 128rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.hidden {
  display: none;
}

a {
  text-decoration: none;
}

/* ==========================================================================
      3. Header & Navigation
      ========================================================================== */
header {
  margin-bottom: calc(var(--mb-20) * 4);
}

.navbar {
  padding: 1rem 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-dark {
  display: none;
}

.logo img {
  width: clamp(10rem, 15vw, 14.1rem);
}

.navbar ul {
  display: flex;
  gap: 6rem;
  list-style: none;
  font-weight: 600;
  font-size: 1.3rem;
}

.navbar a {
  color: var(--light-gray-color);
}

.navbar a:hover {
  color: var(--dark-gray-color);
}

.mobile-menu-toggle {
  display: none;
}

/* ==========================================================================
      4. Mobile Sidebar
      ========================================================================== */
.mobile-part {
  display: none;
}

.sidebar {
  position: fixed;
  top: 0;
  right: -25rem;
  width: 25rem;
  height: 100%;
  background-color: var(--white-color);
  z-index: 1;
  overflow-x: hidden;
  transition: right 0.3s;
}

.sidebar ul {
  flex-direction: column;
}

.sidebar.active {
  right: 0;
}

.mobile-menu-close {
  display: flex;
  justify-content: end;
  cursor: pointer;
  margin-bottom: calc(var(--mb-20) * 3);
}

.mobile-menu-close img {
  width: 3rem;
}

/* ==========================================================================
      5. Hero Section
      ========================================================================== */
.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10rem;
  transition: all 0.3s;
}

.hero-text h1 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-bottom: calc(var(--mb-20));
}

.hero-text h2 {
  font-size: clamp(5rem, 5vw, 20rem);
  margin-bottom: calc(var(--mb-20) * 2);
  line-height: 1.5;
}

.hero-desc {
  font-size: 1.5rem;
  color: var(--light-gray-color);
  margin-bottom: calc(var(--mb-20));
  font-weight: 600;
}

.hero-img img {
  max-width: 104%;
  height: auto;
  display: block;
}

/* ==========================================================================
      6. CTA Buttons
      ========================================================================== */
.CTA {
  display: flex;
  gap: 2rem;
  margin-bottom: calc(var(--mb-20) * 2);
  cursor: pointer;
  font-size: 1.7rem;
}

.cta-btn {
  background-color: var(--Blue-color);
  border: none;
  padding: 1.5rem 3.5rem;
  color: var(--white-color);
  border-radius: 1rem;
  font-weight: 600;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.cta-btn:hover {
  background-color: #4666dc;
}

.cta-btn:active {
  background-color: #2c4ab4;
}

.cta-btn-2 {
  padding: 1.5rem 3.5rem;
  font-weight: 600;
  color: var(--Blue-color);
  text-decoration: underline;
  text-underline-offset: 0.3rem;
  cursor: pointer;
  transition: 0.1s linear;
}

.cta-btn-2:hover {
  text-underline-offset: 0.7rem;
}

.cta-btn-2:active {
  text-underline-offset: 0.4rem;
}

/* ==========================================================================
      7. Extra Features
      ========================================================================== */
.extra-features {
  display: flex;
  gap: 2rem;
}

.features-1,
.features-2 {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* ==========================================================================
      8. Dark Mode
      ========================================================================== */

/* For desktop toggle */
#dark-mode-checkbox + .toggle-label .toggle-icon {
  background-image: url("images/Sun_fill.svg");
}

#dark-mode-checkbox:checked + .toggle-label .toggle-icon {
  background-image: url("images/Moon_fill_light.svg");
  background-color: black;
  transform: translateX(25px);
}

/* For mobile toggle */
#dark-mode-checkbox-mobile + .toggle-label .toggle-icon {
  background-image: url("images/Sun_fill.svg");
}

#dark-mode-checkbox-mobile:checked + .toggle-label .toggle-icon {
  background-image: url("images/Moon_fill_light.svg");
  background-color: black;
  transform: translateX(25px);
}

.dark-mode-toggle-mobile {
  display: flex;
  justify-content: center;
}

.dark-mode-toggle {
  display: inline-block;
  position: relative;
  width: 49px;
  height: 24px;
}

.dark-mode-toggle input[type="checkbox"] {
  display: none;
}

.toggle-label {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: #34373c;
  border-radius: 30px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s;
}

.toggle-icon {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-image: url("images/Sun_fill.svg");
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: all 0.3s ease;
  background-color: white;
}

input[type="checkbox"]:checked + .toggle-label {
  background-color: #e5e5e5;
}

input[type="checkbox"]:checked + .toggle-label .toggle-icon {
  background-image: url("images/Moon_fill_light.svg");
  background-color: black;
  transform: translateX(25px);
}

.close_icon-white {
  display: none;
}

.bar_icon-white {
  display: none;
}

body.dark-mode {
  background-color: #1c1f24;
  color: white;
}

body.dark-mode .logo-light {
  display: none;
}

body.dark-mode .logo-dark {
  display: inline;
}

body.dark-mode .navbar a:hover {
  color: var(--lighter-gray-color);
}

body.dark-mode .sidebar {
  background-color: var(--dark-gray-color);
}

body.dark-mode .close_icon-white {
  display: inline;
}

body.dark-mode .close_icon-black {
  display: none;
}

body.dark-mode .bar_icon-white {
  display: inline;
}

body.dark-mode .bar_icon-black {
  display: none;
}

/* ==========================================================================
      9. Media Queries
      ========================================================================== */
@media (max-width: 1020px) {
  .navbar a {
    font-size: clamp(1rem, 1.5vw, 5rem);
  }

  .hero {
    grid-template-columns: 1fr;
    gap: calc(var(--mb-20) * 4);
    padding: 6rem;
  }

  .hero-img {
    order: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: calc(var(--mb-20) * 2);
    overflow: hidden;
  }

  .hero-img img {
    width: 120%;
    max-width: 80%;
    height: auto;
    transform: scale(1.1);
  }

  .hero-text h1 {
    font-size: 1.2rem;
  }

  .hero-text h2 {
    font-size: clamp(4rem, 5vw, 20rem);
  }

  .hero-desc {
    font-size: 1.4rem;
    max-width: 45rem;
    word-wrap: break-word;
    font-size: clamp(1.2rem, 2vw, 1.4rem);
  }

  .cta-btn,
  .cta-btn-2 {
    font-size: clamp(1.1rem, 1.5vw, 2rem);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: clamp(1.25rem, 1vw, 2rem);
    padding-bottom: clamp(1.25rem, 1vw, 2rem);
    width: clamp(15rem, 2.2vw, 19rem);
    padding-right: 0;
    padding-left: 0;
  }

  .features-1,
  .features-2 {
    font-size: clamp(1rem, 2vw, 1.2rem);
  }

  .extra-features img {
    width: clamp(2rem, 1vw, 2.4rem);
  }
}

@media (max-width: 640px) {
  .mobile-part {
    display: inline;
  }

  .hero {
    gap: calc(var(--mb-20) * 2);
    padding: 4rem;
  }

  .nav-links li,
  .desktop-only {
    display: none;
  }

  .sidebar {
    padding: 1rem;
  }

  .sidebar ul {
    align-items: center;
    gap: 4rem;
    margin-bottom: calc(var(--mb-20) * 2);
  }

  .sidebar a {
    font-size: 2.5rem;
  }

  .mobile-menu-toggle {
    display: inline;
    cursor: pointer;
  }

  .mobile-menu-toggle img {
    width: 3rem;
  }

  .mobile-only {
    display: flex;
    justify-content: center;
  }

  .hero-img img {
    width: 90%;
    max-width: 100%;
    height: auto;
    transform: scale(1.1);
  }

  .CTA {
    gap: 1rem;
  }
}

@media (max-width: 480px) {
  .hero {
    padding: 1.5rem;
  }
}
